<section>
  <form name="form" ng-submit="submitForm()" ng-disabled="false">
    <fieldset>
      <legend>{{action}} book form</legend>

      <div class="form-group">
        <h2>Select a book:</h2>
        <select ng-disabled="isDisabled" ng-model="selectedBook" ng-options="b as b.bName for b in books"></select>
        <br></br>
      </div>

      <div class="actions">
        <button ng-click="showAlert()">{{action}} book</button>
        <br></br>
      </div>

      <div ng-show="dueDate" class="hideByDefault">
        <h2>Your e-Book {{selectedBook.bName}} has been subscribed successfully. </h2>
        <h2>Subscription will expire on {{(dueDate).toUTCString().split(' ')[0]}} {{(dueDate).toUTCString().split(' ')[1]}} {{(dueDate).toUTCString().split(' ')[2]}} {{(dueDate).toUTCString().split(' ')[3]}} at {{(dueDate).toUTCString().split(' ')[4].split(':')[0]}}:{{(dueDate).toUTCString().split(' ')[4].split(':')[1]}} GMT</h2>
      </div>
    </fieldset>
  </form>
  <section>
